<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en_us</string>
    <key>CFBundleIconFile</key>
    <string>CutTheRopeDXIcon</string>
    <key>CFBundleDisplayName</key>
    <string>Cut the Rope: DX</string>
    <key>CFBundleName</key>
    <string>Cut the Rope: DX</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.games</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>LSRequiresNativeExecution</key>
    <true />
    <key>LSArchitecturePriority</key>
    <array>
      <string>arm64</string>
    </array>
    <key>NSHighResolutionCapable</key>
    <true />
  </dict>
</plist>
